/* HAL Equipment Management stylesheet */

body{
	margin: 0;
	padding: 0;
    text-align: left;
    font-family: verdana;
    font-size: 11px;
}

#CONTAINER {

    margin: 5px;
    text-align: center;
}

.header {

    background-color: #039;
    border: 1px solid #999;
    margin-bottom: 5px;
    color: #fff;
}

.header h3{
    text-transform: capitalize;
    background-image: url('logo.png');
        
}

#GMAPS {
    height: 300px;
    border: 1px solid #333;
}

.DETAIL {
    clear: both;
    overflow: auto;
    margin-top: 5px;
}

.tracker, .charts{
    float: left;
    text-transform: capitalize;
    color: #fff;    
    margin: 0;
    padding: 0;
}

.tracker{
    width: 40%;
    margin-right: 5px;
}

#accordion{
}
.eqp-vehicle {
    padding: 10px;
}
.tracker h4, .charts h4{
    text-align: left;
    height: 15px;
    background-color: #039;
    padding: 10px;
    margin: 0;
}

.charts {
    width: 59%;
}

.footer {

} 

.ticker {
    border: 1px solid #999;
    margin-top: 5px;
    padding: 5px;
    font-style: italic;
    position: relative;
    padding: 0 0 0 80px;
    box-shadow: 0 2px 5px -3px #000;
    border-radius: 3px;
}

.ticker:before {
    content: "Latest News";
    display: inline-block;
    font-style: normal;
    background: #039;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    position: absolute;
    top: 0;
    left: 0;
}

.ticker:after {
    content: '';
    display: block;
    top: 0;
    left: 80px;
    background: linear-gradient(#FFF, rgba(255, 255, 255, 0));
    height: 20px;
}

.ticker ul li {
    list-style: none;
    padding: 10px 0;
    text-align: left;
}